<h1>Let's celebrate</h1>

<p>This external login method works - now make use of data</p>
<p> @ViewBag.Email </p>
<p> @ViewBag.Name </p>
<p> @ViewBag.Id </p>

<input type="button" onclick="window.close();" value="Close" />